<div class="center jumbotron ">
    <div class="title">
        <h1>Mario&Luigi</h1>
        <p class="subtitle">Pizzaiolo (ex: Plombier)</p>
    </div>


    <div class="image-center">
      <p class="btn  btn-sm prev"><i class="material-icons">keyboard_arrow_left</i></p>
      <div class="image-pizza">
        <div class="slide-image">
          <%= image_tag "pizza1.jpg", size: "600x300", class: "image" %>
          <%= image_tag "pizza2.jpg", size: "600x300", class: "image" %>
          <%= image_tag "pizza3.jpg", size: "600x300", class: "image" %>
        </div>

      </div>
      <p class="btn btn-sm next"><i class="material-icons">keyboard_arrow_right</i></p>
    </div>
    <ul id="indicators">
      <li id='1'>1</li>
      <li id='2'>2</li>
      <li id='3'>3</li>
    </ul>

    <br>
    <br>
    <br>
    <div class="">
      <%= link_to 'Entrer', accueil_path, class: 'btn btn-primary', method: :get %>
    </div>

</div>
