// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";


body {
  padding-top: 60px;
}

.center {
  //border: 1px solid black;
  text-align: center;
}

.tab-bar{
  //border: 1px solid red;
  display: flex;
  justify-content: center;
}

.content{
  width: 80%;
  max-width: 1000px;
  //border: 1px solid red;
  text-align: center;
  //justify-content: center;
}

.presentation{
  display:none;
  &:active{
    border-bottom: 1px solid red;
  }
}

.menu{
  display:none;
}

.adresse{
  display:none;
}

.image-center{
  //border: 1px solid red;
  //max-width: 500px;
  display: flex;

  justify-content: center;
}

.image-pizza{
  //border: 1px solid blue;
  width: 600px;
  max-height: 300px;
  overflow: hidden;
}

.slide-image{
  //border: 1px solid black;
  width: 1800px;
  //max-width: 600px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;

}

.image{
  //border: 1px solid pink;
  //display: none;
}

.btn{
  //border: 1px solid pink;
  height: 50px;
}

#indicators {
  width: 300px;
  margin: 30px auto;
  text-align: center;
  color: #333;
}

#indicators li {
  padding: 8px 15px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background: #DDDDDD;
}

.active {
  background: #794044 !important;
  color: white;
}
